<%= f.number_field :structural_walltime, label: "Walltime", append: "hrs", in: 1..96, help: "The time you believe it will take to solve for the structural calculation. It is best to over-estimate this time. <strong>Must be between 1 - 96 hours.</strong>".html_safe %>

<% if f.object.wrp_files.length > 1 %>
  <hr>

  <%= f.select :wrp_file_name, f.object.wrp_files.map {|f| f.file.basename}, label: "Choose a <code>*.wrp</code> file to use".html_safe, help: "Note: If you restart from a restart file, then this WARP3D input file is irrelevant." %>
<% end %>

<hr>

<%= f.fields_for :uexternal do |u| %>
  <% total_profile_steps = f.object.total_profile_steps %>
  <%= u.number_field :max_profiles, label: 'Max total WARP3D load steps', help: 'Stop analysis after this number of total WARP3D load steps is completed.' %>
  <%= u.number_field :restart_profiles, label: 'Restart thermal profile steps', in: 1..(total_profile_steps+1), help: 'Number of thermal profile steps between saving restart file.' %>
  <%= u.number_field :output_profiles, label: 'Output thermal profile steps', in: 1..(total_profile_steps+1), help: 'Number of thermal profile steps between generation of output file.<br/>Note: Each output step corresponds to a frame in Paraview.'.html_safe %>
  <p>
    <strong>Total thermal profile steps</strong>: <%= total_profile_steps.to_s %>
  </p>
  <hr>
  <%= u.number_field :n1, help: 'Number of sequential thermal profile steps overs which to use a larger number of WARP3D load steps.' %>
  <%= u.number_field :n2, help: 'Number of the increased WARP3D load steps for each thermal profile step to use during the first few <code>N1</code> thermal profile steps.'.html_safe %>
  <%= u.number_field :n3, help: 'Number of WARP3D load steps for each thermal profile step to use <strong>after</strong> the <code>N1</code> thermal profile steps.'.html_safe %>
<% end %>

<% unless f.object.restart_files.empty? %>
  <hr>

  <%= f.select :restart_file, [['Start over...', nil]] + f.object.restart_files.map {|f| [f.profile, f.file]}, label: "Choose what profile step to restart from" %>
<% end %>
