<tr class="<%= session.row_bg %>" id="session_row_<%= session.id %>">
  <td><%= best_in_place session, :name, place_holder: 'Click here to Edit' %></td>
  <td><%= session.workflow_stage %></td>
  <td><%= session.workflow_status %></td>
  <!-- <td><%# render session, :as => :session %></td> -->
  <td><%= render partial: session.to_partial_path, locals: { session: session } %></td>
  <td data-order="<%= session.id %>"><%= session.created_at.strftime("%m/%d/%y %I:%M %p") %></td>
  <td><%= link_to icon('trash-o', 'Destroy'), session, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
</tr>
