<% render 'navbar' %>
<div class="page-header">
  <h2>Listing Sessions</h2>
</div>

<table class="table data-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Stage</th>
      <th>Workflow</th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr class="<%= session.row_bg %>">
        <td><%= session.id %></td>
        <td><%= session.name %></td>
        <td><%= session.workflow_stage %></td>
        <!-- <td><%# render session, :as => :session %></td> -->
        <td><%= render partial: session.to_partial_path, locals: { session: session } %></td>
        <td><%= link_to 'Edit', edit_session_path(session), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', session, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
