<tr id="mesh_row_<%= mesh.id %>">
  <td>
    <%= best_in_place mesh, :name, place_holder: 'Click here to Edit', class: 'name-field' %>
  </td>
  <td>
    <% if mesh.upload && mesh.sessions.empty? %>
      <%= link_to icon('plus', 'Add Session'), new_mesh_session_path(mesh), class: 'btn btn-success btn-sm' %>
    <% elsif mesh.upload %>
      <%= link_to 'View Sessions', mesh_sessions_path(mesh), class: 'btn btn-primary btn-sm' %>
    <% end %>
  </td>
  <td>
    <p>
    <% if mesh.upload %>
      <%= link_to 'Open', mesh.upload.file.url, class: 'btn btn-default btn-sm', target: '_blank' %>
      <%= mesh.upload.file_file_name %>
    <% else %>
      Please upload a mesh...
    <% end %>
    </p>
    <% if mesh.sessions.empty? %>
      <%= render "upload", mesh: mesh %>
    <% end %>
  </td>
  <td data-order="<%= mesh.id %>"><%= mesh.created_at.strftime("%m/%d/%y %I:%M %p") %></td>
  <td><%= link_to icon('trash-o', 'Destroy'), mesh, method: :delete, class: 'btn btn-danger btn-sm destroy-model', data: { confirm: 'Are you sure? This is **irreversible**!' }, remote: true %></td>
</tr>
