<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>VFTSim</title>
  <%= favicon_link_tag       'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= awesim_banner 'VFTSim' %>

  <%= render partial: 'layouts/navbar', locals: {title: 'Meshes'} %>

  <div class="container-fluid" role="main">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
